#photos_tab
  %table
    %tr
      %td
        .photo_slider
          = image_tag "mthood.jpg"
          .info_area
            %h3="IM Supervisor"
            %p
              %em="By Joo"
      %td
        .photo_slider
          = image_tag "giraffe.jpg"
          .info_area
            %h3="IM Supervisor"
            %p
              %em="By Joo"