#photos_tab
{

  margin: 20px;
  padding: 10px;

  p
  {
    font-size: 1.2em; line-height: 1.2em;
  }

  h1
  {
    color: black; font-size: 3.0em;
  }

  h3
  {
    font-size: 2.0em; margin-bottom: 5px;
  }

  .clear
  {
    clear: both;
  }

  a
  {
    outline: none; color: red;

    .close
    {
      position: absolute;
      right: 10px;
      bottom: 10px;
      display: block;
      width: 20px;
      height: 21px;
      background: url(images/close_button.jpg);
      text-indent: -9999px;
    }

    img { border: none; }
    :hover { color: black; }
  }

  .photo_slider_img {
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
    overflow: hidden;
  }

  td
  {
    vertical-align: top;
  }

  .photo_slider
  {
    position: relative;
    width: 100px;
    height: 130px;
    padding: 10px;
    border: 1px solid black;
    overflow: hidden;
    margin: 25px 10px 10px 10px;
    background: white;
    float: left;
  }

  .info_area
  {
    display:none;
  }

  .more_info
  {
    display: block;
    width: 89px;
    height: 26px;
    background: url(images/moreinfo.jpg);
    text-indent: -9999px;
    cursor: pointer;
  }

}